/* common css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1280px !important;
    margin: 0 auto !important;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p,a,span, .col, .row {
    line-height: 0.8px;
     margin: 0;
    padding: 0;
}
.h_title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: #FFFFFF;
}

.h_pera{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}
.pera{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}

button{
    padding: 16px 56px;
    background-color: #FCD980;
    border-radius: 41px;
    border: transparent;
}

button a{
    font-family:"Manrope", sans-serif ;
    font-weight: 600;
    font-size: 18px;
    color: #1B1C2B;
}

.transparent_btn{
    background-color: transparent;
    padding: 0;
}

.transparent_btn a{
    color: #2405F2;
}

.title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
}
/* common css end */


/* navbar css start */
nav{
    background-color: #1C1E53;
    z-index: 999;

}
.navbar-expand-lg{
    padding: 16px 0;
}
nav .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #FFFFFF;
}

nav .nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #BBBBCB;
    transition: all linear .4s;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
}
nav .nav-link:hover {
    color: #FFFFFF;
}
nav button{
    background-color: transparent;
    border: 2px solid rgb(244, 246, 252,20%);
    margin-left: 32px;
}

nav button a{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 0px;
    color: #FFFFFF;
}
/* navbar css end */




/* our pricing css start */
#our_pricing{
    padding-top: 220px;
    
}


 

#our_pricing .pera{
    width: 562px;
    margin-top: 16px;
}



#our_pricing article{
    height: 100%;
    margin-top: 64px;
    padding: 64px 0;
    background-color: #F4F6FC;
    border: transparent;
    border-radius: 12px;
    transition: all linear .4s;
    position: relative;
}

#our_pricing article:hover{
    background-color: #1C1E53;

}

#our_pricing article:hover::after {
    content: '';
    background-color:hsla(0, 0%, 100%, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 63%;
    scale: 150%;
    border-radius: 45%;
}

 #our_pricing article .card_warpper {
    background-color: transparent;
    border: transparent;
    margin-left: 48px;
 }
     


#our_pricing article   .card_warpper .price{
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 56px;
    color: #1C1E53;
}
#our_pricing article:hover .card_warpper .price{
   color:#ffff
}

#our_pricing article .card_warpper .price span{
font-family:"Manrope", sans-serif ;
font-size: 16px;
font-weight: 400;
color: #2405F2;
transition: all linear .4s;
}
#our_pricing article:hover .card_warpper .price span{
font-family:"Manrope", sans-serif ;
color: yellow;
}


#our_pricing article .card_title{
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;
    transition: all linear .4s;
}
#our_pricing article:hover .card_title{
    color: white;
}

#our_pricing article .card_warpper .pera{
    width: 281px;
    transition: all linear .4s;
}
#our_pricing article:hover .card_warpper .pera{
    color: white ;
}

#our_pricing .card_warpper ul {
    margin: 40px 0; 
}
#our_pricing .card_warpper li span{
    margin-right: 12px;
}
#our_pricing .card_warpper button{
    width: fit-content;
    margin: auto;
    background-color: #282938;
    transition: linear .4s;
}
#our_pricing article:hover .card_warpper button{
    background-color: #FCD980;

}
#our_pricing .card_warpper button a{
    color: #F4F6FC;
    transition: linear .4s;
}

#our_pricing article:hover .card_warpper button a{
    color: #282938;

}


/* our pricing css end */







/* footer css start */
#footer{
    padding-top: 100px;
}
#footer .footer_title{
    background-color: #1C1E53;
    padding-top: 96px;
}

#footer .footer_title .pera{
    font-weight: 500;
    margin-top: 22px;
    color: rgb(255, 255, 255,80%);
    width: 399px;
}

#footer .talk .title{
    color: #FFFFFF;
}

#footer .talk .pera{
    color: rgb(255, 255, 255,80%);
    margin-bottom: 28px;

}

#footer .talk .icon .i{
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 26px;
}
#footer .footer_contact{
    background-color: #FCD980;
    column-gap: 29px;
    padding:16px 0 16px 37px ;
}
#footer .footer_contact .p_title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

#footer .footer_contact .pera{
   width: auto;
   color: rgb(40, 41, 56,80%);
   margin-top: auto;
}
#footer .footer_buttom{
    padding: 32px 0;
}
#footer .footer_buttom .pera{
    color: #282938;
}

#footer .footer_buttom .menu_item ul{
    display: flex;
}
#footer .footer_buttom .menu_item ul li{
    margin-left: 16px;
    margin-right: 16px;
}

#footer .footer_buttom .menu_item ul li:last-child{
    margin-right: 0px;
}

#footer .footer_buttom .menu_item ul li a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}

/* footer css end */